body{
	color: #222;
	background: #FFF;
	overflow: hidden;
	font-family: 'Terminal Dosis', sans-serif;
}
body.error{
	background: #ccc;
}
a, a:hover, a:visited{
	color:#fff;
}

#error{
	color: #fff;
	font-size:30px;
	font-weight: 600;
	text-align: center;
	width:400px;
	padding: 20px;
	margin: 170px auto 0;
	background: #500;
	border:8px solid #880000;
	box-shadow: 0 0 5px #000;
}

#container{
	margin: 100px auto;
	width: 420px;
}

canvas#sig{
/*	color:#0CC;
*/
	color:#E37822
}