article#top
  header#introduction
    div#sig-container
    div#text
      h1 James Rundquist
      h2 
        strong W
        | eb Developer &amp; Designer
  div#container
     section#about-me
       header
         h1 About Me
           a(class="scroll",href="#top") top
        h3 Hello
       figure
         img(src="/images/profile.jpg",alt="[Profile]")
         figcaption Exploring Mies van der Rohe's Barcelona Pavilion in Barcelona, Spain
       div.column#col1
         p I&rsquo;m James Rundquist, a 21-year-old web developer, designer, maker of things, 
           | and understander of stuff. I currently live in Atlanta Georgia and am working on degree 
           | in computer science at Georgia Tech. I am currently starting my own business,
           a(href="https://courseshark.com/",target="_blank") CourseShark
           |  and some day I hope to own a yacht.
         p I always thought it would be cool to become a professional baker. I love cooking, eating, 
           | and especially baking, mainly because I have always had a sweet tooth that only pastries 
           | can satisfy. 
     section#what-i-do
       header  
         h1 What I Do
         a(class="scroll",href="#top") top
       h3 Web Development, Design, UX, etc.... 
       p In 2008, while a senior in high school, I got my first internship as a developer at 
         a(href="http://whatsupinteractive.com",target="_blank") What's Up Interactive 
         | in Atlanta. 
         | Now I primarily work on my own projects along with occasional contract work for companies 
         | including What's Up Interactive, 
         a(href="http://www.ninjamultimedia.com/",target="_blank")  Ninja Multimedia
         | , and 
         | most recently 
         a(href="http://proexel.com/",target="_blank") ProExel
         | .
       p I began working on back-end development, with PHP and MySQL. Since then I have added a vast set of front end
         | skills to my toolbox. With all the new advancements in HTML, CSS and Javascript there was no way 
         | I could pass up an opportunity like that. 
       p How and why people using things, especially technology, has always interested me. You have to understand 
         | why users do what they do, what they expect things to do, and how to make the product so it meets 
         | the users expectations in order to even have a chance at a usable product. I try hard to make sure I 
         | know what they needs and habits of the users are at every stage in development of a project. 
     
     section#work
       header  
         h1 What I've Made
         a(class="scroll",href="#top") top
       h3 Recent
  
     section#contact
       header  
         h1 Talk 
           strong @
           | Me
         a(class="scroll",href="#top") top
       h3 Nice form Coming 
         strong Soon
         | ...
       p For now you can simply send me an email at james.k.rundquist@gmail.com, or call me at 404.277.0774 and if 
         | I am available I will answer, otherwise feel free to leave a message
  
 