article#top
  header#introduction
    div#sig-container
    div#text
    h1 James Rundquist
    h2 
      strong W
      | eb Developer &amp; Designer
  div#container
     section#about
       header
        h1 About Me
        a(class="scroll",href="#top") top
       h3 Hello
       figure
         img(src="/images/profile.jpg",alt="[Profile]")
         figcaption Exploring Mies van der Rohe's Barcelona Pavilion in Barcelona, Spain
       div
        p I&rsquo;m James Rundquist, a 21-year-old web developer, designer, maker of things, 
          | and understander of stuff. I currently live in Atlanta Georgia and am working on degree 
          | in computer science at Georgia Tech. Recently I have been spending a lot of time on my startup,
          a(href="https://courseshark.com/",target="_blank") CourseShark
          | , which helps students plan their class schedules. Some day I hope to own a yacht. 

        p I have been working with computers since I was about 6 or 7, mostly teaching myself through 
          | online tutorials or textbooks lying around my house. Working my way through personal projects,
          | or class assignments I have learned quite a few languages.
        
        div.breakout
          h1 Languages
          div.content.bars
            ul#skills
              li
                strong HTML5
                div.skill
                  div.bar#html5
              li
                strong CSS3
                div.skill
                  div.bar#css3   
              li
                strong PHP
                div.skill
                  div.bar#php 
              li
                strong MySQL
                div.skill
                  div.bar#mysql 
              li
                strong Javascript
                div.skill
                  div.bar#javascript
              li
                strong Node.js
                div.skill
                  div.bar#node
              li
                strong jQuery
                div.skill
                  div.bar#jquery
              li
                strong Ruby on Rails
                div.skill
                  div.bar#RoR
              li
                strong Python
                div.skill
                  div.bar#python
              li
                strong Matlab
                div.skill
                  div.bar#matlab
              li
                strong Java
                div.skill
                  div.bar#java
              li
                strong C
                div.skill
                  div.bar#c
              li
                strong C++
                div.skill
                  div.bar#cpp
              li
                strong OpenCV libraries
                div.skill
                  div.bar#opencv
              li
                strong LabView
                div.skill
                  div.bar#labview
        p In my free time I am either working on of my own 
          a(href="#play").scroll projects
          | , browsing the internet, watching Futurama, playing squash, hanging out with friends, or none of those.
     section#work
       header  
         h1 Past Work
         a(class="scroll",href="#top") top
       h3 Web Development
       h4 What's Up Interactive 
        small Intern / Support / Developer / Researcher
       figure.thumb
        img(src="/images/whats-up-interactive.jpg",alt="What's Up Interactive Logo")
        figcaption What's Up Interactive &raquo; Interactive Marketing Agency
       p In Fall of 2008, as a senior in high school, I landed my first web development job as an intern at What&rsquo;s 
         | Up Interactive, an interactive marketing agency in Atlanta. Starting out as an intern, I was tasked with 
         | handling support claims and minor updates to client&rsquo;s websites. I was also given time to pursue further 
         | research into the then just emerging mobile web field. With the iPhone gaining in popularity it was imperative
         | that the company keep up with mobile web development. Leading the research efforts, I developed a set of 
         | standards and guidelines that would be used internally when developing mobile websites. 
       p While still an intern, I developed new internal tools that were used by management to create proper billing 
         | reports and better manage clients. This involved reverse engineering the closed source Kayako install 
         | that stored all the client billing information. Additionally, I created web&mdash;based time tracking software 
         | for all employees to use, allowing finer logging of an employee&rsquo;s time on projects and tasks.
       p Since my days as the lowly intern, I have worked on projects ranging from local news stations to the 
         a(href="http://www.galottery.com/",target="_blank") Georgia Lottery
         | &nbsp;website, and even the 
         a(href="http://www.georgiaaquarium.org") Georgia Aquarium
         | . My work for What&rsquo;s Up Interactive includes a complete rebuild of a code base used to create and 
         | quickly deploy dating websites for clients. This refactoring brought the site up to the 
         a(href="http://en.wikipedia.org/wiki/Model–view–controller",target="_blank") MVC
         | &nbsp;design paradigm being used in many PHP based sites these days, and was completed from scratch.
         
       h4 Ninja Multimedia 
        small Freelance Developer / Server Setup
       figure.thumb
        img(src="/images/ninja-multimedia.png",alt="Ninja Multimedia")
        figcaption Ninja Multimedia
       p The majority of work I have done for 
         a(href="http://www.ninjamultimedia.com/",target="_blank") Ninja Multimedia 
         | has been for 
         a(href="http://www.caravelgroupinc.com/",target="_blank") Caravel Group Inc
         |  in developing an internal system that was to be used to manage conferences, meetings, and their attendees, including 
         |  travel arrangements. This system was build with PHP/MySQL atop a custom MVC framework.
       h4 ProExel 
        small Server Setup & Management
       figure.thumb
        img(src="/images/pro-exel.jpg",alt="ProExel")
        figcaption Ninja Multimedia
       p Most recently 
         a(href="http://proexel.com/",target="_blank") ProExel
         |  contacted me to migrate their website from a Windows based server to a new Linux based server more 
         | capable of handling the loads they needed. 
     
     section#play
       header  
         h1 
          strong Fun 
          | Projects
         a(class="scroll",href="#top") top
      
       div.project#courseshark
        h1 CourseShark
        a(href="http://courseshark.com/",target="_blank") 
          img(src="/images/projects/courseshark.png",alt="CourseShark Project Screenshot")
        p My most recent project. A website I designed and built that reads college course catalogs and presents 
          | the class listings in an easy to use interface. Notifications can be sent to users when seats become 
          | available. 

       div.project#localizer
        h1 Localizer
        a(href="http://hci.jamesrundquist.com/",target="_blank") 
          img(src="/images/projects/localizer.png",alt="Localizer Project Screenshot")
        p The Localizer is a project I developed in a User Interface Design course at Georgia Tech. It is all javascript 
          | based, and is meant to demonstrate an interface for a geo-location question/answer community, to be used by 
          | visitors to the location. It was developed while I was studying abroad in Barcelona, Spain.
        
       div.project#infoviz
        h1 Twitter Visualization
        a(href="http://infoviz.jamesrundquist.com/",target="_blank") 
          img(src="/images/projects/infoviz.png",alt="Twitter Location Log Project Screenshot")
        p Twhere in Tweet Tworld, as we came to call it, is another group project that we developed to analyze the language 
          | and geo-spacial information of tweets collected over a 24-hour period. The tweets were collected using a custom
          | PHP script. The map interface was custom built and the charts and graphs were built with the help of D3.
        
       div.project#i3
        h1 Character Builder
        a(href="#",onClick="return false;") 
          img(src="/images/projects/character-builder.png",alt="Character Creator Project Screenshot")
        p This is the redesign of the online Character Creator and manager for Untold the game by 
          a(href="http://www.untoldthegame.com/i3",target="_blank") Ignitus Innovations
          | . The new interface is much cleaner, sticking with a minimalist design, allowing the user to easily see 
          | just the information they need at any point and time. The interface was built with Javascript, taking
          | advantage of LocalStorage and SessionStorage, along with storing data server side through ajax calls. 
        
       div.project#t-square
        h1 T-Square Restyle
        a(href="http://stylebot.me/styles/707",target="_blank") 
          img(src="/images/projects/t-square.png",alt="T-Square Retheme")
        p At Georgia Tech we use a website known as t-square for course resources. This website has a horrible design that 
          | approaches unusable. I spent a few hours and re-skinned the website using a custom css overlay applied via&nbsp;
          a(href="http://stylebot.me/styles/707",target="_blank") StyleBot
          | .
        
       div.project#pacman
        h1 Pacman for GBA
        a(href="#",onClick="return false;") 
          img(src="/images/projects/pacman.png",alt="Pacman Game")
        p This is a recreation of the classic Pacman game for the Game Boy Advanced. As a class project it was built on 
          | a tight schedule, but functions very similiarly to the actual pacman game. It was built in C, and uses all custom 
          | graphics and dynamically drawn maps.
        
       div.project#computer_vision
        h1 Computer Vision
        a(href="#",onClick="return false;") 
          img(src="/images/projects/computer-vision.png",alt="Computer Vision Example")
        p Having always been interested in computer vision, even once building my own Augmented Reality marker locating 
          | library from scratch, I took a class at Georgia Tech on the topic, and was officially introduced to a wide
          | range of topics and algorithms in the field.
        
       div.project#python_search
        h1 Python Search Engine
        a(href="#",onClick="return false;") 
          img(src="http://placehold.it/260x116&text=Python%20Search",alt="Python Search Engine")
        p A few years back, I wondered how difficult it would be to make a search engine. Also wanting to start learning python, 
          | I combined the two tasks and built a python based simple search engine, including crawler. 
        
       div.project#dr-doom
        h1 Doctors Office Software
        a(href="#",onClick="return false;") 
          img(src="/images/projects/doctor.png",alt="Python Search Engine")
        p Dr. Doom Management, was a project for a class on software architecture and object oriented design. Our task was to 
          | develop a tool that could be used in a doctor's office to manage patient's medical history, appointments, and 
          | general records, including storage of all the information, and a functioning login system. 
    
  
     section#contact
       header  
         h1 Talk 
           strong @
           | &nbsp;Me
         a(class="scroll",href="#top") top
       
       div.column
        h3 Send me an 
          strong email
        form#contact-form(action="/wrong",method="POST")
          fieldset
            div.input
              label(for="n") Name
              input(name="contact[n]",type="text",title="Your Name",placeholder="Name",required)#n
            div.input
              label(for="e") Email
              input(name="contact[e]",type="email",title="Your Email",placeholder="Email",required)#e
            div.input
              label(for="m") Message
              textarea(name="contact[m]",placeholder="",title="Your Message to Me",required="required")#m
          fieldset
            div#contact-response
            div.input
              button(name="contact[s]",value="submit")#send Send
       div.column
        h3 Other means of 
          strong contact
        dl
          dt#twitter-contact Twitter
          dd 
            a(href="http://twitter.com/#!/jamesrundquist",target="_blank") @jamesRundquist
        dl
          dt#google-plus-contact Google+
          dd
            a(href="https://plus.google.com/101207543410571903148",target="_blank") James Rundquist
        dl
          dt#email-contact Email
          dd 
            a(href="mailto:james.k.rundquist@gmail.com",target="_blank") james.k.rundquist@gmail.com
        dl
          dt#cell-contact Phone
          dd 
            a(href="tel://14042770774",target="_blank") 404.277.0774
 
