/* Colors*/
@orange: #E37822;
@blue: #0092D0;
@green: #147B33;
@pink: #CC0069;
@black: #272827;
@white: #FFF;
@whiteSmoke: #F5F5F5;
@grey: #AEACC1;
@font: #4f4f5f;
@highlight: @blue;

/* Skill Bars */

@html_lvl: 95%;
@css_lvl: 95%;
@php_lvl: 95%;
@mysql_lvl: 90%;
@js_lvl: 90%;
@node_lvl: 60%;
@jquery_lvl: 70%;
@python_lvl: 75%;
@RoR_lvl: 30%;
@matlab_lvl: 50%;
@c_lvl: 50%;
@cpp_lvl: 50%;
@labview_lvl: 20%;
@java_lvl: 80%;
@opencv_lvl: 70%;
@vb_lvl: 10%;

/* Fonts */
@import  url('https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400|Open+Sans+Condensed:300&.css');
